# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Latex files
*.log
*.nav
*.pdf
*.snm
*.aux
*.toc
*.bbl
*.blg
